<ion-grid class="ion-margin-bottom">
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto" class="ion-text-center">
            <ion-label>{{ data?.text }}</ion-label>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
            <ion-radio-group (ionChange)="handleChange($event, data)" class="vertical-radio-group" value="{{ checkedValue }}">
                <ion-item *ngFor="let option of options; let last = last" lines="none" class="question" [class.mb-05]="!last">
                    <ion-radio value="{{ option.likert }}" labelPlacement="start">{{ option.text }}</ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-col>
    </ion-row>
</ion-grid>
